.btn {
  background: transparent;
  border-radius: 5px;
  display: inline-block;
  padding: 10px 20px;
}

.btn:hover {
  text-decoration: none;
}

.btn-primary {
  border: solid 1px rgb(52, 130, 212);
  color: #fff;
}

.btn-ghost {
  border: solid 1px #fff;
  color: #fff;
}

.btn-ghost.selected {
  background: #fff;
  color: #444;
}
