{
  "extends": ["react-app"],
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "impliedStrict": true,
      "experimetalObjectRestSpread": true,
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "comma-dangle": [2, "always-multiline"],
    "key-spacing": [2, {"afterColon": true}]
  }
}
